<h1><%= @restaurant.name %> </h1>
<p><%= @restaurant.address %> </p>
<hr>
<%= link_to "Leave a review", "/restaurants/#{@restaurant.id}/reviews/new" %> |
<%= link_to "Back to index", "/restaurants" %>
